/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Import Tailwind's base, components, and utilities styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
    }
    /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(theme(colors.fouriondary) 0 0);
        background:
            var(--c) 0% 50%,
            var(--c) 50% 50%,
            var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
    }
    /* main {
      font-weight: 600;
    } */
}

@keyframes loading {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }
    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }
    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }
    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}

/* Custom Styles */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* Custom Utilities */
@layer utilities {
    .text-balance {
        text-wrap: balance; /* This is not a standard property; consider using a supported method */
    }
}
